#searchdialog{
    padding:20px;
}
.featurette-image{
    width: 50%;
    height: auto;
    
}
.linkButton { 
    background:none!important;
     color:rgba(255,255,255,.5);
     border:none; 
     padding:8px;
     font: inherit;
     cursor: pointer;
}

.linkButton:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

table.opportunities {
    border: #000;
    border-style: solid;
}

table.opportunities td {
    padding: 5px;
    border: #000;
    border-style: solid;
}

body {
    height: 100%;
}

footer {
		position:absolute;
		bottom:0;
		width:100%;
	}